<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="app">
	<ul>
		<li v-for="item in items">
			{{ item.message }}
		</li>
	</ul>
	
	<!-- v-for 也可以接受整数。在这种情况下，它会把模板重复对应次数。 -->
	<div>
	  <span v-for="n in 10">{{ n }} </span>
	</div>
</div>
<script type="text/javascript">
var vm = new Vue({
	el : "#app",
	data : {
		items: [
			{message: 'm1'},
			{message: 'm2'},
		]
	},
});
// v-if 惰性渲染,切换开销大
// v-show 初始化开销大
</script>
<style type="text/css">

</style>
</body>
</html>
